.App {
  padding: 30px 0px 75px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(246, 246, 248);
  background: linear-gradient(
    0deg,
    rgba(246, 246, 248, 1) 0%,
    rgba(202, 240, 248, 1) 46%
  );
}

.buttonContainer {
  text-align: center;
}
button {
  margin: 1rem;
  text-align: center;
  padding: 15px;
  background-color: transparent;
  border: 2px solid #023e8a;
  color: #023e8a;
  cursor: pointer;
}
