html {
  background: linear-gradient(
    0deg,
    rgba(246, 246, 248, 1) 0%,
    rgba(202, 240, 248, 1) 46%
  );
  height: 100vh;
}
header {
  font-weight: 800;
  font-size: 1.4em;
  text-align: center;
}
nav {
  padding: 1rem;

  text-align: center;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.userCard {
  background-color: rgb(255, 255, 255);
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem;
  transition: transform 0.3s ease;

  border-radius: 5%;
}
.userCard:hover {
  transform: scale(1.01);
}
.userCard__Name {
  font-weight: 800;
  font-size: 1.5rem;
}
.userCard_Detalis {
  padding: 40px;
  text-align: center;
}
.userCard__Website {
  color: #0077b6;
}
.className_container {
  display: flex;
  justify-content: center;
}
.userDetails {
  padding: 25px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.userDetails span {
  font-weight: 600;
  padding: 0.3rem;
}

.userDetails p::before {
  content: "-";
}
